.rotate {
transform: rotate(5deg);
/* style */
width: 400px;
height: 100px;
background-color: blue;
border: 1px solid black;
border-radius: 10px;
}

.scaleX {
    transform: scaleX(0.75);
    /* style */
    width: 400px;
    height: 100px;
    background-color: yellow;
    border: 1px solid black;
    border-radius: 10px;
  }

  .scale {
    transform: scale(0.5, 1.5);
    /* style */
    width: 400px;
    height: 100px;
    background-color: red;
    border: 1px solid black;
    border-radius: 10px;
  }

  .matrix {
    transform: matrix(1, 0, 0.5, 1, 150, 0);
    /* style */
    width: 400px;
    height: 100px;
    background-color: violet;
    border: 1px solid black;
    border-radius: 10px;
  }