.none {
    list-style-type: none
}

.forma {
    background-color: dodgerblue;
    border: 2px solid black;
    border-radius: 10px;

}

.darkblue {
    color: darkblue;
}

input:focus {
    border: 2px solid #000;
    background: rgb(161, 210, 238);
}

legend {
    border: 2px solid black;
    background-color: rgb(139, 216, 235);
    border-radius: 5px;
}

li {

}
