@import url('https://fonts.googleapis.com/css2?family=Dekko&display=swap');

info::before {
    content: "Report: " attr(id);
}

info {
    text-align: right;
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

info > name {
    color: blueviolet;
    font-size: xx-large;
    font-family: 'Dekko', cursive;
    margin-bottom: -0.25em;
    margin-top: -0.25em;
}

info > phone::before {
    content: "Phone: ";
    font-weight: bold;
}

info > email::before {
    content: "Email: ";
    font-weight: bold;
}

info > address::before {
    content: "Address: ";
    font-weight: bold;
}

info > postalzip::before {
    content: "Postal Zip: ";
    font-weight: bold;
}

info > region::before {
    content: "Region: ";
    font-weight: bold;
}

info > country::before {
    content: "Country: ";
    font-weight: bold;
}


records {
    display: table;
    margin: 10px;
    width: 98%;
}

record:nth-child(even) {
    background-color: rgb(181, 96, 202);
}

record:nth-child(10n) {
    background-color: rgb(199, 64, 127);
}

record {
    display: table-row;
}

record *, header * {
    
        display: table-cell;
        border: 1px solid #000000;
        padding: 3px;
        border-spacing: 0px;
        font-size: 85%;
}

header {
    display: table-header-group;
    background-color: rgb(108, 33, 158);
    font-weight: bold;
    height: 50px;
    text-align: center;
}

