@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lumanosimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Patrick+Hand+SC&display=swap');

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: purple;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: aquamarine;
}

h1 {
    font-family: 'Satisfy', cursive;
    color: mediumpurple;
}

h2,h3 {
    
    font-family: 'Lumanosino', cursive;
    color: darkblue;
}

   
pre {
    font-family: 'Handlee', cursive;
    color: black;
}

img.gat {
    float: left;
    margin: 0px 20px 30px 0px;
}

/* Table style */
table {
    width: 80%;
    border-collapse: collapse;
    border: 2px solid purple;
    border-spacing: 10px;
}

caption {
    font-family: 'Lumanosimo', cursive;
}

table, th, td {
    border: 2px solid purple;
    padding: 15px;
    font-family: 'Lumanosimo';
}

th {
    text-align: left;
    background-color: slateblue;
}

tr:nth-child(odd) {
    background-color: dodgerblue;
}

tr:nth-child(even) {
    background-color: deepskyblue;
}

tfoot > tr:first-child{
    background-image: url(nuvol.jpg);
    
}

tr:hover {
    background-color: #eee;     /* Color quan esta el cursor a sobre */
}

div.chapter1 {
    font-family: 'handlee', cursive;
    width: 120%;
    padding: 0px;
    text-align: center;
    color: white;
    background-color: rgb(96, 69, 194);
}

div.chapter2 {
    font-family: 'handlee', cursive;    
    width: 118%;
    padding: 1px;
    text-align: center;
    color: white;
    background-color: rgb(155, 14, 113);
}

div.chapter3 {
    font-family: 'handlee', cursive;    
    width: 118%;
    padding: 1px;
    text-align: center;
    color: white;
    background-color: rgb(231, 41, 88);
}