table {

    border:solid 0px;
    border-collapse: collapse;
    padding: 10px 40px;
    box-shadow: 2px 2px 20px 2px grey;
}

.blue {
    background-color: rgb(223, 245, 250);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 50px;
}

.author{
    background-color: rgb(104, 173, 201);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 50px;
}

tr:nth-child(even) {
    background-color: rgb(236, 235, 235);
}

.td_1 {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 50px;
}

.author2 {
    padding-left: 10px;
    padding-top: 5px;
}