@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');

h1 {
    font-family: "Rubik Mono One";
    color: orangered;
}

img {
    width: 200px;
}

/* Table style */
table {
    width: 90%;
    border-collapse: collapse;
    border: 2px solid black;
    border-spacing: 10px;
}

table, th, td {
    border: 2px solid black;
    padding: 15px;
}

th {
    text-align: left;
    font-family: 'Julius Sans One';
}

td {
    font-family: 'Patrik Hand SC';
}

tr:first-child {
    background-color: rgb(243, 153, 19);
    text-align:center;
}

tr:nth-child(2n+3) {
    background-color: rgb(233, 172, 5);
    text-align: center;
}

tr:nth-child(even) {
    background-color: rgb(230, 144, 74);
    text-align: center;
}

tr:hover {
    background-color: #bd0cbde3;     /* Color quan esta el cursor a sobre */
}

ul.circle {
    list-style-type: circle;
}
