@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');

* {
    background-color: black;
}

/*
@media only screen and (max-width: 650px){
    .container {
        display: grid;
        place-items: center;
        padding: 10px;
        gap: 70px 10px;
        grid-template-columns: 100%;
        margin-top: 60px;
    }
}

@media only screen and (min-width: 651px){
    .container {
        display: grid;
        place-items: center;
        padding: 10px;
        gap: 50px 10px;
        grid-template-columns: 50% 50%;
        margin-top: 60px;
    }
}

@media only screen and (min-width: 1050px){
    .container {
        display: grid;
        place-items: center;
        padding: 10px;
        gap: 70px 10px;
        grid-template-columns: auto auto auto;
        margin-top: 60px;
    }
}
*/

h1 {
    font-family: 'Ultra', serif;
    text-align: center;
    color: rgb(34, 92, 218);
}

ul {
    list-style-type: none;
    text-align: center;
}

li {
    display: inline;
    margin: 20px;
    font-family: 'Patrick Hand SC', cursive;
    color: rgb(49, 179, 211);
    margin: 2rem;
    text-align: center;
}

li:hover {
    color: rgb(211, 224, 23);
    text-decoration: underline;
}

/*
a:hover {
  color: rgb(228, 231, 12);
  text-decoration: underline;
}
*/

h2 {
    background-color: rgb(0, 0, 0);
    text-align: center;
    color: rgb(0, 217, 255);
}

.view {
    width: 500px;
    height: 300px;
    margin: 3em;
    float: left;
    border: 1px solid #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s;
    margin-left: 50px;
}

.view img {
    width: 100%;
    height: 100%;
}

.view .mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(69, 196, 212, 0.7);
    color: white;
    text-align: center;
    padding: 0px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 15px;
}

.view:hover .img {
    transform: scale(1.30);
}

.img {
    transition: transform 0.3s;
}

.view:hover .mask {
    opacity: 1;
    animation: myAnimation 1s ease;
}

.info {
    background-color: rgb(0, 0, 0);
    padding: 5px;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    width: 100%;
    height: 100%;
    margin-left: 3%;
    animation: myAnimation 4s ease;
}


