div {
    text-align: center;
}

h1 {
    text-align: center;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    box-shadow: 5px 5px 5px #999;
    width: 50%;
    margin: 0 auto 
    
}

table tr {
    border: 1px solid black;
    border-collapse: collapse;
}

table th {
    border: 1px solid black;
    border-collapse: collapse;
    background-color: blueviolet;
}

table td {
    border: 1px solid black;
    border-collapse: collapse;
    background-color: rgb(186, 128, 194);
}

p {
    text-align: center;
}

