@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

table, td, tr, th {
    font-family: 'Open Sans', sans-serif;
    border: 2px solid black;
    border-collapse: collapse;
}

thead {
    background-color: blueviolet;
}