h4 {
    text-align: center;
}

.table1 table {
    border: 1px solid black;
    border-collapse: collapse;
    box-shadow: 5px 5px 5px #999;
    margin: 0 auto;
    width: 40%;
}
    
.table1 thead {
    text-align: center;
    background-color: rgb(89, 191, 238);
}
    
.table1 thead tr th {
    height: 50px;
}
    
.table1 tbody tr td {
    height: 40px;
}
    
    
.table1 tbody tr td {
    text-align: center;
}
    
.table1 tbody tr td:nth-child(1) {
    background-color: #999;
}
    
.grey {
    background-color: #cac7c7;
}
    
.table1 tbody tr td:nth-child(2):hover {
    background-color: rgb(52, 139, 221);
}


.table2 table {
    border: 1px solid black;
    border-collapse: collapse;
    box-shadow: 5px 5px 5px #999;
    margin: 0 auto;
    width: 70%;
}

.table2 thead tr th {
    height: 50px;
    background-color: rgb(89, 191, 238); 
}

.yellow {
    background-color: yellow;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

    



