@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');

h1 {
    font-family: 'Ultra', serif;
    text-align: center;
    color: rgb(34, 92, 218);
}

.none {
    list-style-type: none
}

.forma {
    background-color: dodgerblue;
    border: 2px solid black;
    border-radius: 10px;
}

.forma:hover {
    animation: animation1 1s ease;
}

@keyframes animation1 {
   from {background-color: dodgerblue;}
   to {background-color: blueviolet;}
}

.darkblue {
    color: darkblue;
}

input:focus {
    border: 2px solid red;
    background-color: aquamarine;
    animation: animation2 1s ease;
}

@keyframes animation2 {
    from {background-color: white; 
        border: 1px solid black;
    }
    to {background-color: aquamarine;
    border: 2px solid red;
    }
}

legend {
    border: 2px solid black;
    background-color: rgb(139, 216, 235);
    border-radius: 5px;
}

.Rotate:hover {
    transform: rotate(360deg);
}

#email:hover {
    transition: all 1s;
    width: 500px;
}

