h1 {
  text-align: center;
}

table {
  margin: 0 auto;
  width: 90%
  
}

table, td, th {
  border:solid 2px;
  border-collapse: collapse;
}

thead {
  background-color: rgb(145, 145, 235) 
}

tbody{
  text-align: center;
}

tbody tr:nth-child(even) {
  background-color: rgba(223, 219, 214, 0.753);
}

img {
  width: 100px;
  margin: 5px;
}

