table {
    border: 1px solid black;
    border-collapse: collapse;
    box-shadow: 5px 5px 5px #999;
    margin: 0 auto;
    width: 70%;
}

thead {
    background-color: blueviolet;
}

thead tr th {
    height: 50px;
 }

tr:nth-child(even) {
    background-color: rgb(209, 206, 206);
}

tr:hover {
    background-color: #807a7a
}

table tr td {
    padding: 10px;
}




