@import url('https://fonts.googleapis.com/css2?family=Dekko&display=swap');

h1 {
    font-family: 'Dekko', cursive;
    color: rgb(10, 59, 218);
    text-align: center;
}

table, th, tr, td {
    border-collapse: collapse;
    border: 2px solid black;

}

th {
    background-color: rgb(84, 84, 206);
}

tr:nth-child(odd) {
    background-color: darkgrey;
}