@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@media only screen and (max-width: 600px) {
    #poke-container {
        display: grid;
        place-items: center;
        padding: 10px;
        gap: 10px 10px;
        grid-template-columns: 100%;
    }
}

@media only screen and (min-width: 601px) {
    #poke-container {
        display: grid;
        place-items: center;
        padding: 10px;
        gap: 10px 10px;
        grid-template-columns: 50% 50%;
    }
}
@media only screen and (min-width: 800px) {
    #poke-container {
        display: grid;
        place-items: center;
        padding: 10px;
        gap: 10px 10px;
        grid-template-columns: auto auto auto auto;
    }
}


h2 {
    margin-top: 1rem;
    padding: 10px;
    overflow: hidden;
    text-align: center;
    color: goldenrod;
    background-color: black;
}

h4 {
    font-family: 'Sriracha', cursive;
    font-size: 1.25em;
    text-transform: capitalize;
}

p, li {
    font-size: 1em;
}

#pokemon {
    background-color: grey;
    border-radius: 8px;
}

#pokeImage {
    background: rgb(180,58,170);
    background: linear-gradient(90deg, rgba(180,58,170,1) 0%, rgba(253,29,148,1) 10%, rgba(252,58,90,1) 20%, rgba(252,150,69,1) 30%, rgba(252,205,69,1) 40%, rgba(252,101,69,1) 50%, rgba(252,150,69,1) 60%, rgba(252,49,90,1) 70%, rgba(253,29,148,1) 80%, rgba(180,58,170,1) 90%);
    margin: 8px;
    border-radius: 8px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#pokeContent {
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(167,167,167,1) 100%);
    border-radius: 8px;
    padding: 10px;
    margin: 8px;
}

#pokeNumber::before {
    content: "Code: ";
    font-weight: bold;
}

ul {
    list-style: none;
    position: static;
    margin-left: -2.5em;
}

ul::before {
    content: "Type: ";
    font-weight: bold;
    position: static;
}

li {
    display: inline;
}

li::after {
    content: ", ";
}

li:last-child::after {
    content: ""
}

#pokeHeight::before {
    content: "Height: ";
    font-weight: bold;
}

#pokeHeight::after {
    content: "m ";
}


#pokeWeight::before {
    content: "Weight: ";
    font-weight: bold;
}

#pokeWeight::after {
    content: "kg";
}

#pokeWeight {
    text-align: right;
    margin-top: -2.5em;
}

ul::content {
    content: "type";
}












