@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');


company {
    font-family: 'Tangerine', cursive;
    font-size: 5em;
    color: rgb(17, 152, 230);
}

* {
    display: block;
    text-align: center;
    font-family: 'Lora';
}

header > title {
    margin-top: 1em;
    font-size: 1.25em;
}

header > time {
    margin-top: 1em;
}

header > days {
    margin-top: 0.5em;
}

food {
    display: block;
}

food > name {
    color: rgb(17, 152, 230);
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 1.25em;
}

food > price {
    margin-top: 0.25em;
}

price::after {
    content: " $";
}

food > calories {
    color: rgb(68, 228, 53);
    margin-top: 0.25em;
}

calories::before {
    content: "Calories: ";
}

food > description {
    margin-top: 0.25em;
}







